.green{
  background-color: green;
}
.SearchSection{
    width:15%;
    height: 10%;
}
.inlineBlock{
    display: inline-block;
}
.red{
    background-color: red;
}
.gray{
    background-color: gray;
}