.dotSection
{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: auto;
    display: flex;
    transform: translate(-50%,-50%);
}
.dot
{
    float: left;

    width: 5px;
    height: 5px;
    margin-right: 20px;

    list-style-type: none;

    background-color: red;
}
.active
{
    background-color: black;
}
.content{
    transition: 3s;
}
.wrapper
{
    position: relative;

    overflow: hidden ;
}
