.dropDownButton{
    position: relative;
    width: 100px;
    height: 50px;
    background-color:red
}
.menuContent{
    position: absolute;
    width:200px;
    height: 100px;
    top:50px;
    background-color: green;
}
.menuContent li{
    float: left;
    list-style: none
}
